
<div class="container-fluid"></div>
  <h2>Add Employee</h2>
   <form>

    <div class="form-group">
      <label>First Name</label>
        <input type="text"> 
    </div>

    <div class="form-group">
      <label>Last Name</label>
        <input type="text"> 
    </div>

    <div class="form-group">
      <label>Email</label>
        <input type="email"> 
    </div>

    <div class="form-group">
      <label>Employee ID</label>
        <input type="number">
    </div>

    <div class="form-group">
      <label>Date</label>
        <input type="date">
    </div>

   
   <button class="btn btn-primary" type="submit">Add</button> 

    <button class="btn btn-primary" type="fetch">Get</button>

  <button class="btn btn-primary" type="update">Update</button> 
  
   <button class="btn btn-primary" type="delete">Delete</button>

  </form>

